{% extends 'home-base.html' %}

{% block home-content %}
{% load static %}
<div class="container">
<div class="row vh-50">
    <div class="col-6">
        <div class="card profile-pic sticky-top">
        {% if user.profile.profile_pic %}
        <img src="{{user.profile.profile_pic.url}}" class="img-fluid" alt="">
        {% else%}
            <img src="{% static 'profile.png' %}" alt="">
            <p> defaultphoto</p>
        {% endif %}
        </div>
    </div>
    <div class="col-6">
        <h2>{{user.username}}</h2>
        <i class="fas fa-cog"><a href="/myprofile/edit"> edit</a></i>
        {% if user.profile.bio %}
        <p>{{user.profile.bio}}</p>
        {% else %}
        <p>No bio</p>
        {% endif %}
    </div>
</div>
<hr>
<div class="row">
    <h3>Posts</h3>
    {% for post in posts%}
    <div class="column">
        <a href="{% url 'post' post.id %}"style="text-decoration: none">
            <div class="card ">
            <div class="card-body">
                <div class="image">
                    <img src="{{ post.screenshot.url}}" alt="" class="">
                </div>
                </div>
            <div class="card-footer">
                <p class="text-bold fs-4">{{post.title}}</p> 

            </div>
            
            </div>
        </a>
    </div>
    {% endfor %}
</div>
</div>
{% endblock home-content%}

