{% extends 'base.html'%}
{% block content %}
{% load static%}
 <div class="container-fluid m-0 p-0">
     {% if hoods%}
     <div class="displays">

       {% for hood in hoods%}
       <div class="card text-center w-50 m-auto" style="background-image: url('{{ hood.profile_pic.url}}'); background-size:cover;">
        <div class="card-body">
          <h5 class="card-title">{{hood.name}}</h5>
          <p class="card-text"></p>
          <a href="{% url 'join' hood.id %}" class="btn btn-primary">Join</a>
        </div>
        <div class="card-footer text-muted">
          Created:{{hood.date_created}}
        </div>
        
      </div>
       {% endfor %}
       <a href="{% url 'new-hood'%}"> create one</a>
     </div>
     {% else %}
     <div class="no-hoods">
        <p>There are no hoods at the moment</p>
        <a href="{% url 'new-hood'%}"> create one</a>
     </div>
    
     {% endif%}
 </div>
{% endblock%}