{% extends 'home-base.html'%}
{% block home-content %}
{% load static%}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-lg-9">
      <div class="posts">
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <img src="https://img.icons8.com/material/24/000000/plus-math--v5.png"/>
        Create new post
      </button>
      <hr>
          <!-- Modal -->
            <div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">New Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form data-url ="{% url 'new-post' %}" method="POST" enctype="multipart/form-data"  id ='postform'>
                      {% csrf_token%}
                      {{form|crispy}}
                        <input type="submit" class="btn btn-primary btn-sm" >
                    </form>
                  
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                    <button type="button" class="btn btn-primary">Post</button>
                  </div>
                </div>
              </div>
            </div>
             <!-- Modal ends-->
            {% if posts%}
              {% for post in posts %}
              <div class="row">
                <!-- posts -->
                <div class="col-lg-2">
                  <div class="poster-profile">
                    {% if post.author.profile_pic%}
                    <img src="{{post.author.profile_pic.url}}" alt="poster-profile">
                    {% endif %}
                  </div>
                </div>
                <div class="col-lg-10">
                  <div class="post-header">{{post.author}}. {{post.date_posted}}</div>
                  <div class="post-content">{{post.content}}</div>
                  {% if post.image %}
                  <div class="post-img"> <img src="{{ post.image.url}}" alt=""></div>
                  {% endif %}
                  <hr>
                </div>
              </div>
              {% endfor %}
            {% else %}
              <p>No posts</p>
            {% endif %}
      </div>
    </div>
    <div class="col-lg-3">
      <div class="hood-details position-fixed">
        Neighborhood-hood details
        <span>
        {{hood.members.count}}</span> members
        <a href="{% url 'Leave'%}"><button class="btn btn-danger">Leave </button></a>
      </div>
    </div>
</div>

{% endblock home-content%}
